body{
	margin:0;
	padding:0 0 40px 0;
	background-color: #fff;
	color:#4d4d4d;
}
ul {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: outside none none;
}
a.nocolor, a.nocolor:hover, a.nocolor:focus, a.nocolor:active, a.graytogreen {
 color: #4d4d4d;
}
.btn-icon .zmdi {
    font-size: 18px;
    padding-left:1px;
}

.btn:not(.btn-link) {
    box-shadow: 0 2px 5px rgba(33, 150, 243, 0.16), 0 2px 10px rgba(33, 150, 243, 0.12);
    box-shadow: none;
}

.btn-icon i {
    line-height: 2em;
}
.btn.btn-default-over {
    color: #2196F3 !important;
    background-color: #fff;
    border:1px solid #2196F3 !important;
    box-shadow: 0 2px 5px rgba(33, 150, 243, 0.16), 0 2px 10px rgba(33, 150, 243, 0.12);
    box-shadow: none;
}
.btn.btn-default-over:hover, .btn.btn-default-over:active {
    color: #2196F3 !important;
    background-color: #fff;
    border:1px solid #2196F3 !important;
    box-shadow: 0 2px 5px rgba(33, 150, 243, 0.16), 0 2px 10px rgba(33, 150, 243, 0.12);
    box-shadow: none;
}
.btn.btn-default-over.active,  .btn.btn-default-over:focus {
    background-image: none;
    outline: 0px none;
    box-shadow: 0px 2px 3px rgba(33, 150, 243, 0.125) inset;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125) inset;
    box-shadow: none;
}
.btn-soc {
    border: 2px solid #ccc;
}
.btn-soc i {
    color:#ccc;
}
.btn-soc:hover {
    border: 2px solid #03a9f4;
}
.btn-soc:hover i {
    color:#03a9f4;
}
.modal.in .modal-dialog {
    z-index: 1100;
}
.url-link a {
    color: #2196f3;
    border-bottom: 1px solid #2196f3;
}
.card {
    box-shadow: none;
}
#item-gal {
    width:100%;height:280px;overflow: hidden;
}
.item-gal-im {
    width:100%;height:280px;overflow: hidden;
    background-size: cover; background-repeat: no-repeat;
    background-position: center center;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
#carouselFull {
    height: 280px;
}
#carouselFull.carousel .carousel-inner {
    height: 100%;
}
#carouselFull.carousel .carousel-inner .item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}
#carouselFull .carousel-control .fa-chevron-left, 
#carouselFull .carousel-control .fa-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
    line-height: 2.4em;
  
}
#carouselFull .fa-chevron-left::before {
   margin-left: -3px;
}
#carouselFull .fa-chevron-right::before {
   margin-right: -3px;
}
#carouselFull .carousel-control .fa-chevron-left {
    left: 10px;
    margin-left: 0px;
}
#carouselFull .carousel-control .fa-chevron-right {
    margin-right: 0px;
    right: 10px;
}
#carouselFull.carousel .carousel-indicators {
    bottom: 20px;
    left: 50%;
    list-style: outside none none;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    z-index: 15;
    background-color: transparent;
}
#carouselFull.carousel .carousel-indicators li {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
    margin:0px 3px;
    color:#ccc;
}
#carouselFull.carousel .carousel-indicators .active {
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    height: 10px;
    margin:0px 3px;
    width: 10px;
}
.map_box {
    height: 88px;
    overflow: hidden;
    cursor: pointer;
}
.map_box .map {
    border: 1px solid #CCCCCC;
    color: #000000;
    font-size: 14px;
    height: 300px;
    width: 100%;
   
   /* border-radius: 12px;*/
}
.map_box.active {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.map_box {
     margin-top: 4px;
     position: relative;
}
.map_box .triangle {
     background-image: url('/img/map_arrow_top.png');
    background-repeat: no-repeat;
    background-position: top center;

    position: absolute;
    z-index: 20;
    left: 49%;
    top: 0px;
    bottom: auto;
    width: 22px;
    height: 13px;
    cursor: pointer;

}
.map_bg .address {
   /*background: url("../img/tpl/place.png") no-repeat  0 0 transparent; 
   background-size: 16px 25px;
   padding-left: 34px;*/
   color: #fff;
   text-align: center;
   padding-top: 2em;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
}
.map_bg {
    position: absolute;
    top:0; left:0; width:100%;
    height: 88px;
     z-index: 15;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(229, 227, 223, 0));

}
#dropzone-tmp .dz-remove.btn-icon {
    background-image: none;
    border-radius: 50%;
    top:10px;
    right: 10px;
    line-height: 1.4em !important;
}
#dropzone-tmp .dz-remove.btn-icon:before {
    font-family: FontAwesome;
    content: "\f00d";
    line-height: 1.7em;
}
#dropzone.btn-icon:before {
    font-family: FontAwesome;
    content: "\f030";
    line-height: 1.8em;
    font-size: 18px;
}
#dropzone-tmp .dz-thumbnail.lightbox-item  > img {
    height: 130px;
}
.lightbox .lightbox-item > img {
    border-radius: 4px;
}
i.in-sm {
    line-height: 1.8em !important;
    font-weight: 400;
    text-transform: none;
}
.finger-circle.btn-icon {
    width:28px;
    height:28px;
    line-height: 1.4em !important;
    cursor:default;
}
.finger-circle i {
    font-weight: bold;
    line-height: 1.8em !important;
    font-size: 13px;
}

.c-6 {
	color: #666;
}
.f-10 {
	font-size: 10px;
}
.navbar-nav {
    margin: 0px 15px;
}
.navbar-nav > li {
    float: left;
}
#header {
	padding: 12px 0 0 0;
	background-color: #fff;
}
body.fixed {
	padding-top: 60px;
}
body.fixed #header {
	position: fixed;
	left:0;
	top:0;
	z-index: 999;
	background-color: rgba(60, 156, 220, 0);
}
.menu-trigger, .search-trigger, .scribe-trigger {
    display: block;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 0;
  /*  position: fixed;
    left: 20px;
    top: 20px;*/
    width: 30px;
    z-index: 999;
    text-align: center;
}
.menu-trigger {
	padding-top: 0px !important;
	margin-top:-6px;
}
.hamburger {
	position: relative;

}
.search-trigger i, .scribe-trigger i {
	color: rgba(60, 156, 220, 1);
	font-size: 22px;
}
.mobilenav {
    
    display: none;
    font-family: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 999;
    
}
#mobilenav_blue {
    background: rgba(60, 156, 220, 0.9) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
     width: 100%;
     z-index: 20;
}
#mobilenav_search {
    margin: 0 auto;
   /* padding: 20px 0;*/
    position: absolute;
    top: 0; left:0; right:0;
    z-index: 400;
    padding-bottom: 50px;

   /* max-width: 600px;
    text-align: center;*/
}
#mobilenav_links{
    position: absolute;
    z-index: 400;
    top: 0; left:0; right:0;
}
#mobilenav_search input {
    background-color: transparent;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    width:100%;
    border-bottom: 3px solid #fff;
    font-size: 28px;
    font-weight: bold;
}
#mobilenav_search input::-webkit-input-placeholder {color:#fff;}
#mobilenav_search input::-moz-placeholder          {color:#fff; opacity:1;}/* Firefox 19+ */
#mobilenav_search input:-moz-placeholder           {color:#fff;opacity:1;}/* Firefox 18- */
#mobilenav_search input:-ms-input-placeholder      {color:#fff;}

/*
#mobilenav_search button {
    background-color: transparent;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 3em;
   margin-left: 15px;
   
}*/
.top-menu, .mid-menu, .bottom-menu {
    background-color: #fff;
    border-radius: 10px;
    height: 4px;
    width: 28px;
}
.top-menu {
    top: 7px; 
}
.mid-menu {
    top: 15px; 
}
.bottom-menu {
    top: 23px; 
}
.top-animate {
    background: #fff none repeat scroll 0 0 !important;
    top: 13px !important;
    transform: rotate(45deg); 
}
.mid-animate { 
	background-color: #fff;
    opacity: 0;
}
.bottom-animate {
    background: #fff none repeat scroll 0 0 !important;
    top: 13px !important;
    transform: rotate(-225deg); 
}
.menui {
    background: #3c9cdc none repeat scroll 0 0;
    margin-top: 10px;
    position: absolute;
    transition: all 0.6s cubic-bezier(0.75, 0, 0.29, 1.01) 0s;
}

.mobilenav li {
    color: #fff;
    font-size: 220%;
    font-weight: 300;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.mobilenav li {
    font-size: 120%;
}
.mobilenav li:first-child {
    margin-top: 60px;
}
.nav-label {
    width: auto;
}
.nav-label {
   /* border-bottom: 1px solid #fff;*/
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    max-width: 350px;
    font-size: 28px;
}
#searchField {
	padding-right: 30px;
	font-size: 14px;
	font-weight: bold;
}
.searchFieldIcon {
	position: absolute;
	top:5px;
	right:5px;
	color: #2196f3;
	cursor: pointer;
}
#searchFieldReviewObject {
	font-size: 28px;
	font-weight: bold;
	border-width: 0 0 3px;
	border-color:  #545454;
	padding-right: 35px;
}
#searchFieldIconReviewObject, #searchFieldIcon, #searchFieldIconBlue {
	position: absolute;
	top:-2px;
	right:0px;
	cursor: pointer;
	font-size: 28px;
	color:#545454;
}
#searchFieldIconBlue {
    color:#fff;
    top: 10px;
}
#searchFieldIcon i:before, #searchFieldIconBlue i:before {
    content: '\f002';
}
#searchFieldIcon.loading i, #searchFieldIconBlue.loading i {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
   /* -webkit-animation: fa-spin 1s infinite steps(8); 
    animation: fa-spin 1s infinite steps(8);*/
}
#searchFieldIcon.loading i:before, #searchFieldIconBlue.loading i:before {
    content: '\f110';
  /*  content : '\f021';*/
}
.row-list-2, .row-list-3, .row-list-4, .row-list-6{
-moz-column-count: 1;
    -moz-column-gap: 2%;
    -moz-column-width: 96%;
    -webkit-column-count: 1;
    -webkit-column-gap: 2%;
    -webkit-column-width: 96%;
    column-count: 1;
    column-gap: 2%;
    column-width: 96%;
}
.row-list-2 .key, .row-list-3 .key, .row-list-4 .key{
    width: 100%;
    height: auto;
    padding-top: 10px;

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
#objects-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-transform: none;
}
.media > .pull-left {
    padding-right: 10px;
}
.lv-img-lg {
  width: 60px;
  height: 60px;
}
.lv-img-md {
  width: 45px;
  height: 45px;
}
.oblects_view, .oblects_view_main {
    display: block;
    width:100%;
    padding:12px 12px;
    margin-top:10px;
}
.oblects_view .media > .pull-left {
    padding-right: 20px;
}


a.oblects_view, a.oblects_view_main {
    color: inherit;
}
.oblects_view:hover, .oblects_view_main:hover {
    background-color: #eaf4fb;
}
a.oblects_view_blue, a.oblects_view_blue * {
    color:#fff;
}
.oblects_view_blue:hover {
    background-color: #85c1e9;
}
@media (min-width: 610px) {
#dropzone-tmp .dz-thumbnail.lightbox-item  > img {
    height: 290px;
}
	#searchField {
	font-size: 18px;
}
	.row-list-2, .row-list-3, .row-list-4, .row-list-6{
   -moz-column-count: 2;
    -moz-column-gap: 3%;
    -moz-column-width: 47%;
    -webkit-column-count: 2;
    -webkit-column-gap: 3%;
    -webkit-column-width: 47%;
    column-count: 2;
    column-gap: 3%;
    column-width: 47%;
}
}
@media (min-width: 768px) {
.oblects_view {
    padding:12px 30px;
}
.oblects_view img.lv-img-lg {
    width:125px;
    height: 125px;
}
#dropzone-tmp .dz-thumbnail.lightbox-item  > img {
    height: 170px;
}
.navbar-nav {
    margin: 0;
}
.menu-trigger {
	margin-top:0px;
}
#searchFieldReviewObject{
	padding-right: 0;
}
#searchFieldIconReviewObject, #searchFieldIcon, #searchFieldIconBlue {
	right: -35px;

}
}
@media(min-width: 992px){ /* 1024 */
#item-gal, .item-gal-im, #carouselFull {
    height:480px;
}
    #dropzone-tmp .dz-thumbnail.lightbox-item  > img {
        height: 130px;
    }
	.row-list-2{  
  -moz-column-count: 2;
    -moz-column-gap: 3%;
    -moz-column-width: 47%;
    -webkit-column-count: 2;
    -webkit-column-gap: 3%;
    -webkit-column-width: 47%;
    column-count: 2;
    column-gap: 3%;
    column-width: 47%;
}
  .row-list-3{
    -moz-column-count: 3;
      -moz-column-gap: 3%;
      -moz-column-width: 30%;
      -webkit-column-count: 3;
      -webkit-column-gap: 3%;
      -webkit-column-width: 30%;
      column-count: 3;
      column-gap: 3%;
      column-width: 30%;
  }
  .row-list-4{
    -moz-column-count: 4;
      -moz-column-gap: 3%;
      -moz-column-width: 22%;
      -webkit-column-count: 4;
      -webkit-column-gap: 3%;
      -webkit-column-width: 22%;
      column-count: 4;
      column-gap: 3%;
      column-width: 22%;
  }
}